body { background: #d21d56; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 31px; display: flex; }
.block-session-0 { color: #ff665a; font-size: 18px; margin-bottom: 5px; }
.block-search-1 { color: #32176a; font-size: 21px; margin-bottom: 5px; }
.block-uploader-2 { color: #e76008; font-size: 16px; margin-bottom: 5px; }
.block-payment-3 { color: #4a3dc; font-size: 15px; margin-bottom: 5px; }
.block-session-4 { color: #1ac985; font-size: 19px; margin-bottom: 5px; }